*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

    
}
.color-orange{
    color: #ff7f50;}
/* main style */

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-items: center;
}
header{
    background-color: #fff8f3;
    padding-top: 50px;
}
nav{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}